{% extends 'base.html.twig' %}

{% block title %}Proverbe{% endblock %}

{% block body %}
    {% if app.user %}
    {% if "ROLE_ADMIN" in app.user.roles %}
        <a href="{{ path('app_proverbe_new') }}">Nouveau proverbe</a>
        <a href="{{ path('app_proverbe') }}">Les proverbes</a>
    {% endif %}
    {% endif %}
    <h1>Proverbe aléatoire</h1>

    <h2>QR Code vers le proverbe</h2>
    <img src="{{ qrCode }}" alt="QR Code">

    <p>Scanne ce QR code pour voir le proverbe dans sa page dédiée.</p>
{% endblock %}
